<div class="row">
	<div class="col-sm-12 col-md-6">
		<h1>Commands</h1>
	</div>
	<div class="col-sm-12 col-md-6">
		{{#link-to "commands.new" class="btn btn-success pull-right" role="button"}}New Command{{/link-to}}
	</div>
</div>
{{outlet}}
