<div class="col-sm-12 col-md-6">
	<h1>Messages</h1>
</div>
<div class="col-sm-12 col-md-6">
	{{#link-to "messages.new" class="btn btn-success pull-right" role="button"}}New Messages{{/link-to}}
</div>
{{outlet}}